In [1]:
#1.List and its default functions.
l1=[1,2,3,4,5,6]
print(l1)

[1, 2, 3, 4, 5, 6]

In [2]:
l1.append(43)
print(l1)

[1, 2, 3, 4, 5, 6, 43]

In [3]:
l1.sort()
print(l1)

[1, 2, 3, 4, 5, 6, 43]

In [4]:
l1.extend([23])
l1

[1, 2, 3, 4, 5, 6, 43, 23]

In [5]:
l1.insert(3,99)
l1

[1, 2, 3, 99, 4, 5, 6, 43, 23]

In [6]:
l1.reverse()
l1

[23, 43, 6, 5, 4, 99, 3, 2, 1]

In [13]:
#2.Dictionary and its default functions.
d1={1:"green",2:"red",3:"yellow",4:"blue"}
type(d1)

dict

In [16]:
d1.pop(3)

'yellow'

In [19]:
d2={5:"pink"}
d1.update(d2)
d1

{1: 'green', 2: 'red', 4: 'blue', 5: 'pink'}

In [20]:
d1.copy()

{1: 'green', 2: 'red', 4: 'blue', 5: 'pink'}

In [27]:
d1.keys()

dict_keys([1, 2, 4, 5])

In [28]:
d1.values()

dict_values(['green', 'red', 'blue', 'pink'])

In [29]:
#3.Sets and its default functions.
s1={21,22,23,31,32,33}
type(s1)

set

In [32]:
s1.add(99)
s1

{21, 22, 23, 31, 32, 33, 99}

In [33]:
s1.copy()
s1

{21, 22, 23, 31, 32, 33, 99}

In [35]:
s1.discard(22)
s1

{21, 23, 31, 32, 33, 99}

In [40]:
s2={65,66,65,99}

In [41]:
s1.difference(s2)

{21, 23, 31}

In [42]:
s1.intersection(s2)

{99}

In [43]:
#4.Tuple and explore default methods.
t1=(100,"subject","science")
type(t1)

tuple

In [45]:
t1.count(100)

1

In [48]:
t1.index("science")

2

In [57]:
#5.Strings and explore default methods.
s1="jupyter notebook"
type(s1)

str

In [58]:
s1.index("y")

3

In [59]:
print(s1.isdigit())

False

In [61]:
print(s1.replace("e","a"))

jupytar notabook

In [62]:
s1.find("t")

4

In [64]:
s1.casefold()

'jupyter notebook'